body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong {
    font-weight: 600;
}

a {
    color: #e9698a
}

a:hover,
a:focus {
    color: #e9698a;
    border: 0;
    text-decoration: none;
}

h1,
h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 300;
    color: #555;
    line-height: 50px;
    font-style: italic;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
    font-style: italic;
}

img {
    max-width: 100%;
}

.medium-paragraph {
    font-size: 17px;
    line-height: 32px;
}

::-moz-selection {
    background: #6d9055;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #6d9055;
    color: #fff;
    text-shadow: none;
}

.footer-top {
    padding: 60px 0;
    text-align: left;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.footer-top h3 {
    padding-bottom: 10px;
    color: #fff;
}

.footer-about img.logo-footer {
    max-width: 74px;
    margin-top: 0;
    margin-bottom: 18px;
}

.footer-contact p {
    word-wrap: break-word;
}

.footer-contact i {
    padding-right: 10px;
    font-size: 18px;
    color: #fff;
    color: rgba(255, 255, 255, 0.5);
}

.footer-links a {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
}

.footer-links a:hover,
.footer-links a:focus {
    color: #fff;
}

.footer-bottom {
    padding: 15px 0 17px 0;
    background: #444;
    text-align: left;
    color: #aaa;
}

.footer-social {
    padding-top: 3px;
    text-align: right;
}

.footer-social a {
    margin-left: 20px;
    color: #777;
    border: 0;
}

.footer-social a:hover,
.footer-social a:focus {
    color: #e9698a;
    border: 0;
}

.footer-social i {
    font-size: 24px;
    vertical-align: middle;
}

.footer-copyright {
    padding-top: 5px;
}

.footer-copyright a {
    color: #fff;
    border: 0;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
    color: #aaa;
    border: 0;
}

footer {
    background-image: './fotter_background';
    padding: 0px !important;
}